<%- include('../inc/top_inc') %>
 
<div id="list">
    <h1>Add category</h1>
      <form method="post">
        <div class="modal-content">
            
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Name category</label>
                    <input type="text" class="form-control mb-3" id="exampleInputPassword1" name="nameCategory">
                </div>
          
            </div>
        </div>
        <div class="modal-footer">  
              <!-- <button type="button" class=" btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
              <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>



<%- include('../inc/bottom_inc') %>